In [3]:
# --- Setup ---
import pandas as pd
import numpy as np
import yaml
import re
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

# Load your dataset (update path if needed)
df = pd.read_csv(r"C:\\Users\\Vishnu\\Desktop\\data_cleaning_prod\\Data_files\SATARA_1991.csv")

# Quick check
print(" Dataset loaded successfully!")
print(f"Shape: {df.shape}")
df.head()

 Dataset loaded successfully!
Shape: (25, 25)

,India/State/UT/CITY/U.A. Name,Age group,Total population - Persons,Total population - Males,Total population - Females,Illiterate - Males,Illiterate - Females,Literate without Educational Level - Non formal - Males,Literate without Educational Level - Non formal - Females,Literate without Educational Level - formal - Males,...,Educational Level - Matriculation/Secondary - Males,Educational Level - Matriculation/Secondary - Females,Educational Level - Higher Secondary/Intermediate/Pre-University/Senior Secondary - Males,Educational Level - Higher Secondary/Intermediate/Pre-University/Senior Secondary - Females,Educational Level - Non-Technical Diploma or certificate not equal to Degree - Males,Educational Level - Non-Technical Diploma or certificate not equal to Degree - Females,Educational Level - Technical Diploma or Certificate not equal to Degree - Males,Educational Level - Technical Diploma or Certificate not equal to Degree - Females,Educational Level - Graduate and above - Males,Educational Level - Graduate and above - Females
0,SATARA,All ages,2451372,1208375,1242997,399253,682640,2280,1730,141280,...,131799,59470,39761,12710,970,530,9310,2670,40925,12980
1,SATARA,0-6,397183,204586,192597,204586,192597,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,SATARA,7,53720,27090,26630,6090,8070,190,150,20810,...,0,0,0,0,0,0,0,0,0,0
3,SATARA,8,59270,30570,28700,3610,5060,90,180,26870,...,0,0,0,0,0,0,0,0,0,0
4,SATARA,9,57180,28830,28350,1680,3760,130,60,18990,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Calculate Data Quality Score
total_rows, total_cols = df.shape
total_cells = total_rows * total_cols
missing_cells = df.isnull().sum().sum()
data_quality_score = round((1 - (missing_cells / total_cells)) * 100, 2)

print(f"Data Quality Score: {data_quality_score}%")

#  Basic interpretation
if data_quality_score > 95:
    interpretation = "Excellent — almost no missing data."
elif data_quality_score > 85:
    interpretation = "Good — small number of missing values, manageable."
elif data_quality_score > 70:
    interpretation = "Moderate — needs cleaning or imputation."
else:
    interpretation = "Poor — significant missing data, consider preprocessing."
    
print("Interpretation:", interpretation)

Data Quality Score: 100.0%
Interpretation: Excellent — almost no missing data.